/* 

	Skin

	Author:			Your Name
	Date:				Today's Date

	Description:
	===============================================================
	Place styles that will affect the look and feel for your site.
	You should not have to modify reset.css, typography.css, grids.css
	or application.css if you are using the grids css system.

*/

